body{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
        "toolbar toolbar"
        "menu    section";
}

.menu{
    grid-area: menu;
}
.toolbar{
    grid-area: toolbar;
}
.section{
    grid-area: section;
}